@import url("https://fonts.googleapis.com/css2?family=Nabla&family=Oswald:wght@200..700&family=Playwrite+CA+Guides&family=Playwrite+NZ+Guides&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Sofia&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  /* border: 0.1rem solid red; */
}
:root {
  --lead: #212121;
  --gold-finger: #f2bd12;
  --eye-ball: #fffdf7;
  --hint-yellow: #fcf1cc;
  --pure-white: #ffffff;
}
body {
  background-color: var(--eye-ball);
}

/* BASIC STYLING */
a {
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--lead);
}
.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
li {
  list-style: none;
}
.between {
  justify-content: space-between;
}
.gap-3 {
  gap: 3rem;
}
.gap-2 {
  gap: 2rem;
}
.wrapper {
  max-width: 1200px;
  margin: auto;
  padding-inline: 1.5rem;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.p-top {
  padding-top: 10rem;
}
.mt-4 {
  margin-top: 4rem;
}
.text-center {
  text-align: center;
}
.mt-half {
  margin-top: 0.5rem;
}
.m-auto {
  margin: auto;
}
.mt-one-half {
  margin-top: 1.5rem;
}

/* HEADER STYLING */

.navbar {
  height: 14vh;
}
.logo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--gold-finger);
}
.btn {
  display: inline-block;
  padding: 0.9rem 2rem;
  background-color: var(--gold-finger);
  border-radius: 1rem;
  font-size: 1.1rem;
  color: var(--pure-white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 1px;
  transition: ease-in-out 0.3s;
}
.btn:hover {
  background-color: var(--lead);
}
.cart-icon {
  color: var(--lead);
  font-size: 1.3rem;
  position: relative;
}
.cart-icon .cart-value {
  position: absolute;
  top: 36%;
  right: -10px;
  background-color: var(--gold-finger);
  font-size: 0.85rem;
  width: 20px;
  aspect-ratio: 1;
  color: var(--lead);
  border-radius: 100vw;
  text-align: center;
  line-height: 20px;
}
.desktop-icons .hamburger,
.mobile-menu {
  display: none;
  font-size: 1.5rem;
}
/* SECTION STYLING */

.hero-section {
  min-height: calc(100vh - 14vh);
  /* background: gold; */
}
.content,
.image-container,
.service-card {
  flex: 1;
  flex-basis: 300px;
}
h1 {
  font-size: 5.6vw;
  color: var(--lead);
}
h1 span {
  color: var(--gold-finger);
}
p {
  font-size: 1.25rem;
  line-height: 1.8rem;
  color: gray;
  font-weight: 400;
}
.para {
  margin-block: 2rem;
  max-width: 550px;
}
.social-icons {
  font-size: 1.2rem;
  background-color: var(--hint-yellow);
  border-radius: 1rem;
  aspect-ratio: 1;
  width: 3rem;
  text-align: center;
  line-height: 3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 1px;
  transition: 0.3s ease-in-out;
}
.social-icons:hover {
  background-color: var(--lead);
  color: var(--pure-white);
}
/* SECTION 1 STYLING  */
h5 {
  color: var(--gold-finger);
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
h2 {
  font-size: 3.7rem;
  text-transform: capitalize;
  color: var(--lead);
}
h3 {
  font-size: 2rem;
  text-align: center;
}
.service-card h3 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

/* SECTION 2 STYLING  */
.order-card {
  flex: 1;
  flex-basis: 300px;
  padding: 0 1rem 2rem 1rem;
  background: var(--pure-white);
  border: 1px solid var(--gold-finger);
  border-radius: 2rem;
  box-shadow:
    rgba(0, 0, 0, 0.05) 8px 8px 8px,
    rgba(0, 0, 0, 0.05) 8px 8px 8px inset;
}
.order-card img {
  width: 15rem;
  filter: drop-shadow(rgba(0, 0, 0, 0.2) 0 10px 10px);
}
h4 {
  font-size: 1.8rem;
  color: var(--lead);
}
.order-card .price {
  font-size: 1.7rem;
  color: var(--gold-finger);
  padding: 1.3rem 0 2rem 0;
}

/* cart-list-styling */
.cart-tab {
  background: var(--hint-yellow);
  position: fixed;
  inset: 0 -500px 0 auto;
  width: 25rem;
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.1) -10px -10px 20px;
  transition: 0.3s ease-in-out;
}
.cart-tab-active {
  inset: 0 0 0 auto;
}
.cart-list {
  flex: 1;
  width: 100%;
  margin-top: 1.5rem;
  overflow: auto;
}
.cart-list .item:nth-child(even) {
  background-color: var(--eye-ball);
}
.cart-list::-webkit-scrollbar {
  width: 0;
}
.total-container {
  width: 100%;
  background-color: var(--gold-finger);
  text-align: center;
  margin-block: 1rem;
  padding-block: 1rem;
}
.total-container h4 {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 400;
}
.btn-container .btn {
  background: var(--lead);
}
.btn-container .btn:hover {
  background: var(--gold-finger);
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 0.5px solid gold;
  padding: 0.7rem 1rem;
  transition: all 0.5s ease-in-out;
}
.item.slide-out {
  transform: translateX(50%);
}
.item .item-total {
  font-weight: 400;
  margin-top: 0.3rem;
}
.item h4 {
  font-size: 1.3rem;
  color: var(--lead);
}
.item .item-image img {
  width: 5rem;
}
.item-detail {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.quantity-btn {
  background-color: var(--lead);
  color: var(--pure-white);
  aspect-ratio: 1;
  border-radius: 100vw;
  width: 1.7rem;
  text-align: center;
  line-height: 1.7rem;
}
.quantity-value {
  font-weight: 400;
  font-size: 1.2rem;
  margin-inline: 0.6rem;
}
/* SECTION 3 STYLING   */
.swiper {
  width: 100%;
  height: 100%;
}
.profile {
  width: 4rem;
  aspect-ratio: 1;
  border-radius: 100vw;
  overflow: hidden;
}
.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fa-star {
  color: var(--gold-finger);
}
.review-container {
  width: 650px;
  max-width: 100%;
  flex: 1;
}
.arrow {
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 100vw;
  background-color: var(--gold-finger);
  color: var(--lead);
  text-align: center;
  line-height: 2.5rem;
}
/* SECTION 4 STYLING    */
.app-container {
  background: var(--hint-yellow);
  padding: 3rem 6rem;
  border-radius: 3rem;
}
.app-container h2 {
  font-size: 4.5rem;
}
.app-container .image-container img {
  width: 25rem;
}
/* SECTION 5 STYLING    */
.input-container {
  width: 43rem;
  max-width: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 8px;
  border-radius: 1rem;
  background: var(--pure-white);
  margin: 4rem auto 0rem auto;
  padding: 0.8rem;
}
.input-container input {
  height: 7vh;
  flex: 1;
  background-color: transparent;
  outline: none;
  border: none;
  padding-left: 1rem;
  font-size: 1.1rem;
}
/* FOOTER STYLING */
.footer-container {
  margin-top: 10rem;
  padding-block: 4rem;
  background-color: var(--hint-yellow);
}
.footer-wrapper {
  flex: 1;
  flex-basis: 150px;
}
.footer-wrapper .social-icons:hover {
  background: var(--pure-white);
  color: var(--lead);
}
.footer-link {
  color: gray;
  font-size: 1.1rem;
  transition: 0.3s ease-in-out;
}
.footer-link:hover {
  color: var(--lead);
}
.footer-wrapper:nth-child(1) {
  flex: 2;
  flex-basis: 300px;
}
.footer-container .flex {
  align-items: flex-start;
}
/* MEDIA QUERIES */
@media screen and (max-width: 850px) {
  /* HEADER STYLING */
  .navlist,
  .desktop-icons .btn {
    display: none;
  }
  .desktop-icons .hamburger {
    display: block;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: absolute;
    top: 20%;
    left: -100%;
    transform: translateX(-50%);
    width: 20rem;
    padding: 2rem;
    background-color: var(--pure-white);
    border: 1px solid var(--gold-finger);
    border-radius: 2rem;
    box-shadow:
      rgba(0, 0, 0, 0.05) 8px 8px 8px,
      rgba(0, 0, 0, 0.05) 8px 8px 8px inset;
    transition: all 0.5s ease-in-out;
  }
  .mobile-menu-active {
    left: 50%;
    transform: translateX(-50%);
  }
  /* HERO_SECTION STYLING */
  h1 {
    font-size: 3.6rem;
  }
  .hero-content {
    padding-top: 3rem;
  }
  .gap-2 {
    gap: 1.2rem;
  }
  .gap-4 {
    gap: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  /* SECTION 4 Styling */
  .app-container {
    padding: 2.2rem;
  }
  .app-container .content h2 {
    font-size: 3.5rem;
  }
}
